
.clients{
    padding-top: 94px;
    padding-bottom: 94px;

    .clients__title{
        color: $--titles-font-color;
        
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
    }
}

.clients-list{

    @include flex (flex);
    // display: flex;
    // justify-content: center;
    margin-top: 50px;

    .clients-list__item{

        @include flex (flex);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 170px;
        height: 92px;

    }
    .clients-list__item:not(:first-child){
        margin-left: 30px;
    }
}

.clients-list__link{

    @include flex (flex);
    // display: flex;
    // justify-content: center;

    border: 1px solid $--social-icon-color;
    border-radius: 3px;
    width: 100%;
    height: 100%;

    @include transition (border-color);

    &:hover,
    &:focus{
        border-color: $--hover-color;
    }
}

.clients-list__icon{
    height: 100%;
    fill: $--social-icon-color;

    @include transition (fill);

    .clients-list__link:hover &,
    .clients-list__link:focus &{
        fill: $--hover-color;
    }
}

