
.our-team{
    background-color: $--team-bcg-color;
    padding-bottom: 94px;

    .our-team__title{
        color: $--titles-font-color;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }
}

.team-cards{

    @include flex (flex);
    text-align: center;
    margin-top: 50px;

    .team-cards__item{
        width: calc((100%-90px)/4);
        margin-right: 30px;
        margin-bottom: 0px;
    
    
        background-color: #ffffff;
        
        border-bottom: 1px solid #2F303A;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .team-cards__item:nth-child(4){
        margin-right: 0px;
    }
}


.team-cards__wrapper{
    padding-top: 30px;
    padding-bottom: 16px;

    .team-cards__title{
        color: $--titles-font-color;
        font-weight: 500; 
        font-size: 16px;
        line-height: 1.2;
    } 

    .team-cards__text{
        margin-top: 10px;
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
    }
}

.team-links{
    
    @include flex (flex);
    // display: flex;
    // justify-content: center;
    padding-bottom: 30px;

    .team-links__item:not(:first-child){
        margin-left: 10px;
    }
}

.team-links__link{
    display: flex;
    width: 44px;
    height: 44px;

    border-radius: 50%;
}

.team-links__icon{
    border-radius: 50%;
    fill: $--social-icon-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        background-color: $--hover-color;
        fill: #ffffff;
    }
    
    .team-links__link:hover &,
    .team-links__link:focus &{
        fill: #ffffff;
        background-color: $--hover-color;
        fill: #ffffff;
    }
}

