

.page-header{
    border-bottom: 1px solid #ECECEC;

    .page-header__nav{
        display: flex;
        align-items: center;
        justify-self: start;
    }
}

.page-header__list{
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;

    .page-header__item:not(:first-child){
        margin-left: 50px;
    }
}

.page-header__link{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $--titles-font-color;

    text-decoration: none;

    @include transition (color);
    &:hover,
    &:focus{
        color: $--hover-color;
    }
}

.current{
    position: relative;
    color: $--hover-color;

    @include transition (color);

    &::after{
        content: '';
        display: flex;
    
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: $--hover-color;
        border-radius: 2px;
        border: 2px solid;
    }
}
