
.filter-list{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    .filter-list__item{
        margin-right: 8px;
        padding-right: 0px;
    }
    .filter-list__item:nth-child(5){
        margin-right: 0px;
    }
}

.filter-list__button{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: 1px solid $--button-portfolio-color;
    border-radius: 4px;

    font-family:  inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    background-color: $--team-bcg-color;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        background-color: $--hover-color;
        color: #ffffff;
    }
}

