
$--domination-font-color: #757575;
$--titles-font-color: #212121;
$--domination-bcg-color: #E5E5E5;
$--team-bcg-color: #F5F4FA;
$--footer-bcg-color: #2F303A;
$--hover-color: #2196F3;
$--button-portfolio-color: #F5F4FA;
$--social-icon-color: #AFB1B8;
$--follow-bcg-color: rgba(255, 255, 255, 0.1);